/*-------------------------------------------------
layout
-------------------------------------------------*/

#container,
#panel-top .panel-content,
#panel-middle .panel-content,
#panel-bottom .panel-content {
	width: 1020px;
	margin: 0 auto;
	text-align: left;
}

#container {
	padding:20px 0px;
	position: relative;
}

#col-left {
	float: left;
	width: 710px;
}

#col-right {
	float: right;
	width: 300px;
	/*position: fixed;*/
	/*right: 122.5px;*/
}

#control-panel {
	position: fixed;
	width: 285px;
}


/*-------------------------------------------------
TYPOGRAPHY
-------------------------------------------------*/

body { 
  font-size: 90%;
  color: #545454; 
  font-family: "Helvetica", Arial, sans-serif;
}

#columns h4,
#content h3,
#content h4,
#login h2 {
	font-family:"Georgia",Times,serif;
	font-size:24px;
	font-weight:normal;
	color:#385C69 !important;
	margin:0px;
	padding:14px 0px;
}

/*-------------------------------------------------
PANEL-TOP
-------------------------------------------------*/

#panel-top {
	height: 36px;
	background-color: #363637;
}
	
#nav {
	float: left;
	width: 620px;
}

#nav ul {
	margin: 0px;
	padding: 6px 0px 0px 0px;
	list-style: none;
	font-weight: bold;
	text-transform: lowercase;
}
#nav ul li {
	display: inline;
}
#nav ul li a {
	padding: 5px;
	color: #eee;
}
#nav ul li a:hover {
	text-decoration: underline;
}

#session {
	float: right;
	color: #eee;
	font-weight: bold;
	text-transform: lowercase;
}

#session span {
	position: relative;
	top: 6px;
}

#session a,
#session em {
	color: #9DE2F6;
	font-style: normal;
	cursor: pointer;
}

#session a:hover,
#session em:hover {
	text-decoration: underline;
}

/*-------------------------------------------------
PANEL-MIDDLE
-------------------------------------------------*/
	
#panel-middle {
	height: 42px;
	background-color: #92daf6;
	border-top: 1px solid #64c4eb;
	border-bottom: 1px solid #64c4eb;
}

#subnav {
	float:left;
	width:1020px;
}

#subnav ul {
	margin: 0;
	padding: 0;
	padding: 10px 0px 0px 0px;
	list-style: none;
	font-weight: bold;
}

#subnav ul li {
	display: inline;
}

#subnav ul li a,
#subnav ul li a:hover,
#subnav ul li span,
#subnav ul li span:hover {
	padding: 6px 7.5px;
	background: -moz-linear-gradient(center top , #fbfbfb, #EBEBEB) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#EBEBEB));
	border: 2px solid #61bee3;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode','Verdana',sans-serif;
    font-size: 13px;
	color: #000;
	color: #385C69;
    text-shadow: 0 0 1px #FFFFFF;
	cursor: pointer;
}

#subnav ul li a:active,
#subnav ul li span:active {
	background: -moz-linear-gradient(center top , #EBEBEB, #fbfbfb) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#fbfbfb));
}

/*-------------------------------------------------
PANEL-BOTTOM
-------------------------------------------------*/

#panel-bottom {
	height: 80px;
	background-color: #DEF1F8;
	border-bottom: 1px solid #bed5e1;
}

#headline {
	float: left;
	width: 300px;
}

#headline h3 {
	font-family: "Georgia",Times,serif;
	font-size: 50px;
	font-weight: normal;
	color: #385C69 !important;
	margin: 0px;
	padding: 14px 0px;
}

.stats {
    display: inline;
    position: relative;
    width: 720px;
	text-align: center;
}

.stats span.section {
    color: #385C69;
    display: inline;
    float: right;
    font: 14.5px/1em 'Oswald',"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 9px 16px;
    position: relative;
    text-shadow: 0 1px 0 #306192;
    text-transform: uppercase;
}

.stats span.section span.value {
    color: #EDEDED;
    display: block;
    font: bold 45px/1em "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: 0 0 2px #444444;
}

.stats span.first {
	margin-left: 0;
}

.stats span.last {
	margin-right: 0;
}

/*-------------------------------------------------
SORT
-------------------------------------------------*/

#col-left ul.sort {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #DEF1F8;
	border: 1px solid #CBDFE7;
	/*padding: 13px 40px;*/
	/*padding-left: 45px;*/
	padding: 13px 0;
}

#col-left ul.sort li {
	/*float: left;
	padding-left: 1px;*/
	float: left;
	position: relative;
	left: 50px;
}
	
/*-------------------------------------------------
NOTICE BOX
-------------------------------------------------*/

.data {
	background: #DEF1F8;
	border: 1px solid #CBDFE7;
}

.notice {
	background: #FFFECC;	
	border: 1px solid #FAECB5;
}

.success {
	background: #E2F9E3;	
	border: 1px solid #9ECE9E;
}

.error {
	background: #FFEDEF;	
	border: 1px solid #FFC5CC;
}

.notice,
.success,
.error,
.data {
	color: #636363;
	font-size: 0.92em;
	padding: 14px;
	margin-bottom: 6px;
}

.notice span,
.success span,
.error span,
.data span {
	display: block;
	font-weight: bold;
	font-size: 1.2em;
	padding-bottom: 2px;
}

.success span { color: #579157; }
.error span { color: #CF8790 }
.notice span { color: #BBAB67; }
.data span { color: #8BC3D9; }

.notice p,
.success p,
.error p,
.data p {
	margin: 0px;padding: 0px;
}

.notice a { color: #BBAB67; }
.success a { color: #579157; }
.error a { color: #CF8790; }
.data a { color: #385C69;}

.notice a,
.success a,
.error a,
.data a {
	font-weight: bold;
}
.notice a:hover,
.success a:hover,
.error a:hover,
.data a:hover {
	text-decoration: underline;
}

.data ul,
.notice ul,
.success ul,
.error ul {
	margin: 0px;
	padding: 12px 0 12px 0;
}

.data ul li,
.notice ul li,
.success ul li,
.error ul li {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #C7EAF7;
}

.data ul li span,
.notice ul li span,
.success ul li span,
.error ul li span {
	font-size: 1.0em;
	color: #636363;
}

.notice ul li span {
	color: #BBAB67;
}

.notice ul li {
	border-bottom: 1px solid #FAECB5;
}

.success ul li span {
	color: #579157;
}

.success ul li {
	border-bottom: 1px solid #baefbc;
}

.error ul li span {
	color: #CF8790;
}

.error ul li {
	border-bottom: 1px solid #FFC5CC;
}

.box .actions li span {
	cursor: pointer;
}

.box .actions li span:hover {
	text-decoration: underline;
}
	
/*-------------------------------------------------
FORMS
-------------------------------------------------*/

form {
	background: #E7F4F8;
	padding: 16px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.input_field {
	clear: both;
}
.input_field label {
	display: block;
	text-align: right;
	width: 100px;
	float: left;
	position: relative;
	top: 6px;
	padding-right: 6px;
}

.input {
	border: 3px solid #DFF1F6;
	padding: 6px;
}
.input:focus {
	border-color: #9DE2F6;
}

.box input {
	width: 87%;
	height: 1.4em;
	font-size: 1em;
	color: #636363;
	font-weight: bold;
	border: 1px solid #CBDFE7;
	background: url("../images/filter.png") no-repeat scroll 0.5em center #FFFFFF;
	padding-left: 25px;
	display:block; 
	line-height: 100%;    
}

#header #panel-middle #subnav ul li input {
	border: 1px solid #64C4EB;
	background: url("../images/search.png") no-repeat scroll 0.5em center #FFFFFF;
	width: 251px;
	padding-left: 30px;

	color: #385C69;
	font-weight: bold;
	font-size: 14px;
	margin-top: -4px;
	
	display:block; 
	line-height: 100%;
}

.smallfield { width: 100px; }
.mediumfield { width: 200px; }
.bigfield { width: 400px; }
.textarea {
	font-family: "Helvetica", Arial, sans-serif;
}

/*-------------------------------------------------
SIGNIN
-------------------------------------------------*/

body.signin {
	background-color: #92DAF6;
	border-top: 5px solid #64C4EB;
}

body.signin a {
	text-decoration: underline;
}

.signin #container {
	text-align: center;
	position: relative;
	top: 10em;
}

.signin #container img {
	cursor: pointer;
}

.signin #container h1 {
	color: #DEF1F8;
	font-size: 6em;
	font-family: "InsolentRegular",Arial,sans-serif;
	text-shadow: 1px 1px 0 black, 2px 2px 0 #476871, 3px 3px 0 #476871, 4px 4px 0 #476871, 5px 5px 0 #476871, 6px 6px 0 #476871, 7px 7px 0 #476871;
}

.signin #keys {
	margin-top: 80px;
}

.signin #keys input {
	text-align: center;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 375px;
	height: 45px;
	
	font-family: "InsolentRegular",Arial,sans-serif;
	font-size: 1.6em;
	color: #ccc;
}

/*http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css*/
input::-webkit-input-placeholder {
    color: #ccc;
	/*text-align: center;*/
}
input:-moz-placeholder {
    color: #ccc;
	/*text-align: center;*/
}

.signin #keys a {
	color: #39545e;
	text-decoration: underline;
}

/*-------------------------------------------------
USERS
-------------------------------------------------*/

ul.users {
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 20px 0;
	overflow: hidden;
}

ul.users li.user {
	width: 224px;
	background-color: #DEF1F8;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	
	margin-right: 18px;
	margin-bottom: 18px;
    display: block;
    line-height: 1em;
	float: left;
	cursor: pointer;
}

ul.users > li.user:nth-child(3n) { 
	/*background-color: #fabdd3;*/
	margin-right: 0;
}

ul.users li.unfollowed {
	background-color: #FFFECC;
}

/*ul.users li.user:hover,*/
ul.users li.selected  {
	background-color: #94DFF7;
	/*background-color: #bddfea;*/
	/*background-color: #c1d7e2;*/
	/*background-color: #FFFECC;*/
	/*background-color: #92DAF6;*/
	/*background-color: #9DE2F6;*/
	/*background-color: rgba(146, 218, 246, 0.6);*/
}

ul.users li.last {
	margin-right: 0;
}

ul.users li.user blockquote {
	padding: 0;
	margin: 0;
}

ul.users li.user .section {
	padding: 10px 20px;
}

ul.users li.user .name {
	text-align: center;
	
	height: 35px;
	overflow: hidden;
}

ul.users li.user .bio {
	background-color: #d5d1c6;
	background: url("../images/blockquote.gif") no-repeat scroll 0 bottom transparent;
	/*border-bottom: 1px solid #fcfcfb;*/
	border-top: 1px solid #C5C1BA;
	padding-top: 0;
	/*padding-bottom: 0;*/
	
	height: 106px;
	overflow: hidden;
}

ul.users li.user .bio blockquote {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	color: #433D30;
}

ul.users li.user .bio blockquote a,
ul.users li.user .bio blockquote a:hover {
	font-size: 12px;
	color: #433D30;
	text-decoration: none;
	display: inline;
}

ul.users li.user .username {
	text-align: left;
	padding-top: 0;
	position: relative;
	display: block;
	
	height: 22px;
	overflow: hidden;
}

ul.users li.user .statistics {
	background-color: #15120f;
	border-radius: 0 0 0.5em 0.5em;
	-moz-border-radius: 0 0 0.5em 0.5em;
	-webkit-border-radius: 0 0 0.5em 0.5em;
	background-image: url("../images/user_footer_bg.png");
	
	height: 86px;
	overflow: hidden;
}

ul.users li.user .statistics a {
	display: block;
	padding: 5px 0;
	color: #8E857C;
	font-size: 13px;

	padding: 0 0 0 5px;
}

ul.users li.user .statistics img {
	float: right;
	border-radius: 0.25em;
}

ul.users li.user .statistics a:hover {
	color: #EDEDED;
}

#col-left ul.users li.user .name h3 {
	font-family: "Georgia",Times,serif;
	color: #636363 !important;
	font-size: 25px;
	padding: 0;
	margin: 0;
	padding: 5px 0;
}
	
#col-left ul.users li.user .username h4,
#col-left ul.users li.user .username h4 a {
	padding: 0;
	color: #636363 !important;
	font-size: 18px;
}

/*-------------------------------------------------
MISC
-------------------------------------------------*/

/* Hide elements and align them */

.hidden {display:none;}
.left {float:left;}
.right {float:right;}

/* Padding classess */

.pleft { padding-left: 12px;}

/*-------------------------------------------------
FOOTER
-------------------------------------------------*/

#footer {
	display: block;
	width: 100%;
	min-width: 950px;
	height: 25px;
	position: fixed;
	top: 100%;
	margin-top: -25px;
}

#footer {
	background-position: 0 -117px;
	background-repeat: repeat-x;
	font-size: 11px;
	color: #666;
	z-index: 2000;
	background: -moz-linear-gradient(center top , #fbfbfb, #EBEBEB) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#EBEBEB));
}

#footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-top: 1px solid #D2D2D2;
	
}

#footer li {
	float: left;
	list-style: none;
	padding: 5px 20px;
}

#footer li.right {
	float: right;
}

#footer li.divider ,
#footer li.divider :hover{
	padding: 0;
	position: relative;
	width: 1px;
	height: 24px;
	background-color: #d2d2d2;
	display: inline-block;
	border: solid #FFF 1px;
	border-bottom: none;
	border-top: none;
}
